{%  load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="{% static "/img/icon.ico?v=2" %}" type="image/x-icon" />
        <link rel="stylesheet" href="{% static "/css/style.css" %}">
        <link
          href="{% static "/css/bootstrap.css" %}"
          rel="stylesheet"
        />
        <script src="{% static "/js/bootstrap.js" %}"></script>
        <script src="{% static "/js/index.js" %}"></script>
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'index' %}">
                        <img src="{% static "/img/logo.gif" %}" alt="Q&A Logo" height="120" width="120">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            {% if user %}
                                <!-- Ссылки для зарегистрированных пользователей -->
                                <li class="nav-item">
                                    <a href="{% url 'ask' %}" class="nav-link">Задать вопрос</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'settings' %}" class="nav-link">Настройки</a>
                                </li>
                            {% else %}
                                <!-- Ссылки для неаутентифицированных пользователей (войти и зарегистрироваться) -->
                                <li class="nav-item">
                                    <a href="{% url 'login' %}" class="nav-link">Войти</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'signup' %}" class="nav-link">Зарегистрироваться</a>
                                </li>
                            {% endif %}

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    language
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Русский</a></li>
                                    <li><a class="dropdown-item" href="#">English</a></li>
                                    <li><a class="dropdown-item" href="#">Deutsch</a></li>
                                </ul>
                            </li>
                        </ul>

                        <form class="d-flex align-items-center">
                            <input class="form-control me-2 flex-grow-1" type="search" placeholder="Поиск" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Поиск</button>

                            {% if user %}
                                <!-- Картинка профиля -->
                                <img src="{% static "/img/profile.png" %}" alt="Profile" class="img" height="90" width="90">

                                <!-- Имя пользователя и ссылка на выход -->
                                <div class="ms-2 text-light">
                                    <div class="text-light">John Doe</div>
                                    <div><a href="#" class="text-light">Выход</a></div>
                                </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </nav>
        </header>

        <main class="my5">
            <div class="container-fluid">
                <br>
                <div class="row">
                    <div class="col-md-8">
                        {% block content %}

                            Hello, it is empty item

                        {% endblock %}
                    </div>
                    <div class="col-md-4">
                        <h2>Популярные теги</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-group">
                                    {% for tag in tags %}
                                        <li class="list-group-item">{{ tag.tag }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <h2 class="mt-5">Лучшие издатели</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-group">
                                    {% for us in users %}
                                         <li class="list-group-item"><a class="Noni">{{ us.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="bg-dark text-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Основные страницы</h2>
                        <ul class="list-unstyled">
                            {% if user %}
                                <!-- Ссылки для зарегистрированных пользователей -->
                                <li><a class="noni" href="{% url 'settings' %}">Настройки</a></li>
                                <li><a class="noni" href="{% url 'index' %}">Главная</a></li>
                            {% else %}
                                <!-- Ссылки для неаутентифицированных пользователей (войти и зарегистрироваться) -->
                                <li><a class="noni" href="{% url 'login' %}">Вход</a></li>
                                <li><a class="noni" href="{% url 'signup' %}">Регистрация</a></li>
                            {% endif %}
                        </ul>
                        <br/>
                        <h2>Документация:</h2>
                        <ul class="list-unstyled">
                            <li><a class="noni" href="{% static "/pdf/pol_sogl.pdf" %}" target="_blank">Пользовательское соглашение</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h2>Контакты:</h2>
                        <h3>&nbsp;&nbsp;Телефон:</h3>
                        <ul class="list-unstyled">
                            <li>&nbsp;&nbsp;&nbsp;&nbsp;<a href="tel:+78888888888">+7 (888) 888-88-88</a></li>
                            <li>&nbsp;&nbsp;&nbsp;&nbsp;<a href="tel:+78888888889">+7 (888) 888-88-89</a></li>
                        </ul>
                        <h3>&nbsp;&nbsp;Почта:</h3>
                        <ul class="list-unstyled">
                            <li>&nbsp;&nbsp;&nbsp;&nbsp;<a target="_top" href="mailto:dimakurenkov333@gmail.com">dimakurenkov333@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>