*, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Calibri', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    padding-bottom: 100px;
}

.text-light {
    white-space: nowrap;
}

.horizontal-line {
    border-top: 2px solid #007bff;
    margin: 20px 0;
}

.img {
    padding: 20px;
}

#text {
    resize: none;
}

.maxiimg {
    max-width: 60%;
    height: auto;
}

footer {
    display: flex;
    bottom: 0;
    width: 100%;
}

footer p {
    flex: 1;
    margin-left: 5%;
}

.qa-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.avatar {
    width: 120px;
    height: 120px;
    padding: 2px;
}

.like-dislike {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;
}

.like {
    width: 40px;
}

.dont {
    white-space: nowrap;
}

.tags {
    margin-top: 10px;
}

#tentacles::-webkit-outer-spin-button,
#tentacles::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
