{% extends 'layouts/base.html' %}

{% load static %}

<title>Задать вопрос</title>

{% block content %}
    <form class="h-100">
        <div class="row mt-4">
            <h1 class="mb-4">Новый вопрос</h1> <!-- Заголовок "Вопросы" -->
        </div>
        <div class="row mt-4">
            <div class="col-md-2">
                <label for="title" class="form-label">Название</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" id="title" placeholder="Введите название">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-2">
                <label for="text" class="form-label">Текст</label>
            </div>
            <div class="col-md-8">
                <textarea class="form-control mt-2" id="text" rows="5" placeholder="Введите текст"></textarea>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-2">
                <label for="tags" class="form-label">Теги</label>
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" id="tags" placeholder="Введите теги через запятую">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-10">
                <button type="submit" class="btn btn-primary w-100">Добавить</button>
            </div>
        </div>
    </form>
{% endblock %}