{% extends 'layouts/base.html' %}

{% load static %}

<title>Новые вопросы</title>

{% block content %}
    <div class="row align-items-lg-center">
        <div class="col-4">
            <h1 class="dont">Новые вопросы</h1>
        </div>
        <div class="col-2">
            <a class="dont" href="{% url 'hot' %}">Горячие вопросы</a>
        </div>
    </div>

    <br>

    <div class="container">
        <!-- Элемент Вопрос-ответ -->
        {% for question, key in questions.items %}
            {% include 'components/question_item.html' %}
        {% endfor %}

        {% include 'components/pagination.html' with page=questions %}

    </div>
{% endblock %}