{% extends 'layouts/base.html' %}

{% load static %}

<title>Вопрос: {{ question.id }}</title>

{% block content %}
    {% include 'components/question_item_without_answer_count.html' %}
    <br>
    <div class="horizontal-line"></div>

    <!-- Элемент ответ -->
    {% for answer in answers %}
        {% include 'components/answer.html' %}
    {% endfor %}

    <div class="horizontal-line"></div>

    <form class="h-100" method="POST" action="">
        {% csrf_token %}
        <!-- Строка ошибки -->
        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <!-- Отдельное поле для каждой ошибки -->
                <div class="alert alert-danger alert-dismissible fade show mt-4" role="alert">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        <div class="col-md-12 d-flex flex-column">
            <label for="text"></label><textarea class="form-control flex-grow-1" id="text" rows="5" placeholder="Введите ответ" name="text"></textarea>
            <br>
            <button type="submit" class="btn btn-primary">Добавить ответ</button>
        </div>
    </form>
{% endblock %}