{% extends 'layouts/base.html' %}

{% load static %}

<title>Вопрос: {{ question.id }}</title>

<script src="{% static "/js/answer.js" %}"></script>

{% block content %}
    {% include 'components/question_item_without_answer_count.html' %}
    <br>
    <div class="horizontal-line"></div>

    <!-- Элемент ответ -->
    {% for answer in answers %}
        {% if forloop.last %}
            {% include 'components/answer_last.html' %}
        {% else %}
            {% include 'components/answer.html' %}
        {% endif %}
    {% endfor %}

    <div class="horizontal-line"></div>

    <form method="POST" action="">
        {% csrf_token %}
        <!-- Строка ошибки -->
        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <!-- Отдельное поле для каждой ошибки -->
                <div class="alert alert-danger alert-dismissible fade show mt-4" role="alert">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        <div class="col-md-12 d-flex flex-column">
            <label for="text"></label><textarea class="form-control flex-grow-1" id="text" rows="5" placeholder="Введите ответ" name="text"></textarea>
            <br>
            {% if user.is_authenticated %}
                <button type="submit" class="btn btn-primary">Добавить ответ</button>
            {% else %}
                <button type="submit" class="btn btn-primary" disabled>Добавить ответ</button>
                <div class="text-center mt-3">
                    <p>Чтобы добавить ответ, пожалуйста, <a href="{% url 'login' %}">войдите</a>.</p>
                </div>
            {% endif %}
        </div>
    </form>
{% endblock %}