{% extends 'layouts/base.html' %}

{% load static %}

<title>Настройки</title>

{% block content %}
    <form class="h-100">
        <div class="row">
            <h1 class="mb-4">Настройки: John Doe</h1> <!-- Заголовок "Вопросы" -->
        </div>
        <div class="row align-items-lg-center mt-4">
            <div class="col-md-2"><label for="login1" class="form-label">Логин</label></div>
            <div class="col-md-8"><input type="text" class="form-control" id="login1" placeholder="Введите логин"></div>
        </div>
        <div class="row align-items-lg-center mt-4">
            <div class="col-md-2"><label for="email1" class="form-label">Почта</label></div>
            <div class="col-md-8">
                <input type="email" class="form-control" id="email1" placeholder="Введите почту">
            </div>
        </div>
        <div class="row align-items-lg-center mt-4">
            <div class="col-md-2"><label for="nickname1" class="form-label">Никнейм</label></div>
            <div class="col-md-8"><input type="text" class="form-control" id="nickname1" placeholder="Введите никнейм"></div>
        </div>
        <div class="row mt-4">
            <div class="col-md-2"><label for="avatar1" class="form-label">Изменить аватар</label></div>
            <div class="col-md-8">
                <div class="d-flex flex-column mb-3">
                    <img src="/static/img/avatar.jpg" alt="Avatar" class="img-fluid maxiimg">
                    <div class="input-group mt-3">
                        <input type="file" class="form-control" id="avatar1" accept="image/*">
                        <button class="btn btn-outline-secondary" type="button">Выбрать</button>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Сохранить изменения</button>
    </form>
{% endblock %}

