{% extends 'layouts/base.html' %}

{% load static %}

<title>Регистрация</title>

{% block content %}
    <form class="h-100" method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Строка ошибки -->
        {% if form.errors %}
            {% for title, error in form.errors.items %}
                <!-- Отдельное поле для каждой ошибки -->
                <div class="alert alert-danger alert-dismissible fade show mt-4" role="alert">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}

        <div class="row align-items-lg-center mt-4">
            <div class="col-md-3"><label for="login1" class="form-label">Логин</label></div>
            <div class="col-md-8"><input type="text" class="form-control" id="login1" name="username" placeholder="Введите логин" value="{{ usn }}"></div>
        </div>
        <div class="row align-items-lg-center mt-4">
            <div class="col-md-3"><label for="email" class="form-label">Почта</label></div>
            <div class="col-md-8"><input type="email" class="form-control" id="email" name="email" placeholder="Введите почту" value="{{ em }}"></div>
        </div>
        <div class="row align-items-lg-center mt-4">
            <div class="col-md-3"><label for="text" class="form-label">Никнейм</label></div>
            <div class="col-md-8"><input type="text" class="form-control" id="text" name="name" placeholder="Введите никнейм" value="{{ na }}"></div>
        </div>
        <div class="row align-items-lg-center mt-4">
            <div class="col-md-3"><label for="password" class="form-label">Пароль</label></div>
            <div class="col-md-8">
                <input type="password" class="form-control" id="password" name="password" placeholder="Введите пароль" value="">
            </div>
        </div>
        <div class="row align-items-lg-center mt-4">
            <div class="col-md-3"><label for="password2" class="form-label">Повторите пароль</label></div>
            <div class="col-md-8">
                <input type="password" class="form-control" id="password2" name="password2" placeholder="Повторите пароль" value="">
            </div>
        </div>
        <div class="row align-items-lg-center mt-4">
            <div class="col-md-3"><label for="avatar1" class="form-label">Изменить аватар</label></div>
            <div class="col-md-8">
                <div class="input-group">
                    <input type="file" class="form-control" id="avatar1" name="avatar" accept="image/*">
                    <button class="btn btn-outline-secondary" type="button">Выбрать</button>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <button type="submit" class="btn btn-primary mt-3">Зарегистрироваться</button>
        </div>
    </form>
{% endblock %}