{% load static %}

<script src="{% static "/js/answer.js" %}"></script>

<div class="qa-container">
    <div class="row">
        <div class="col-md-4 d-flex flex-column justify-content-between">
            <!-- Аватарка -->
            <div class="align-items-center">
                <span class="circle-image">
                    <img src="/static/img/avatar.jpg" alt="Avatar" class="avatar">
                </span>
            </div>
            <!-- Лайки и дизлайки -->
            <div class="like-dislike mt-auto">
                <label for="likes{{ answer.id }}"></label>
                <input type="number" id="likes{{ answer.id }}" name="likes" value="{{ answer.reiting }}" class="like" onkeydown="return false;" onmousedown="return false;">
                <button onclick="AnsincreaseValue('likes{{ answer.id }}')">↑</button>
                <button onclick="decreaseValueAns('likes{{ answer.id }}')">↓</button>
            </div>
        </div>
        <div class="col-md-8">
            <p>HTML (HyperText Markup Language) - это стандартизированный язык разметки документов в сети Интернет.</p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="answerCheckbox">
                <label class="form-check-label" for="answerCheckbox">Верный ответ</label>
            </div>
        </div>
    </div>
</div>