{% load static %}

<script>
    window.csrfToken = "{{ csrf_token }}";
</script>

<div class="qa-container">
    <div class="row">
        <div class="col-md-4 d-flex flex-column justify-content-between">
            <!-- Аватарка -->
            <div class="align-items-center">
                <span class="circle-image">
                    <img src="/static/img/avatar.jpg" alt="Avatar" class="avatar">
                </span>
            </div>
            <!-- Лайки и дизлайки -->
            <div class="like-dislike mt-auto">
                <label for="like{{ answer.id }}"></label>
                <input type="number" id="like{{ answer.id }}" name="likes" value="{{ answer.rating }}" class="like" onkeydown="return false;" onmousedown="return false;">
                <button onclick="AnsincreaseValue('{{ answer.id }}')">↑</button>
                <button onclick="decreaseValueAns('{{ answer.id }}')">↓</button>
            </div>
        </div>
        <div class="col-md-8">
            <p>{{ answer.answer }}</p>
            <div class="form-check">
                <input class="form-check-input answer-checkbox" type="checkbox" id="answerCheckbox" data-answer-id="{{ answer.id }}" {% if answer.right %}checked{% endif %}>
                <label class="form-check-label" for="answerCheckbox">Верный ответ</label>
            </div>
        </div>
    </div>
</div>
